.bg-navy {
  background-color: #27333A;
}

.hoverWhite:hover,
.hoverWhite:hover span,
.hoverWhite:hover i {
  color: white !important;
}

.cursor-pointer {
  cursor: pointer;
}

.button-unset{
  all: unset;
}